.post-feed {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.post-link {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.post-link:hover {
    opacity: 1;
}

.post-image {
    width: 100%;
}

.post-wrapper {
    flex-grow: 1;
    padding: 20px;
    background-color: var(--white-color);
}

.post-tag {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1;
    color: #AAA;
    text-transform: uppercase;
    letter-spacing: 0.005em;
}

.post-title {
    margin-bottom: 0;
    font-size: 1.6rem;
    line-height: 1.35;
    word-break: break-word;
}

.has-serif-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) .post-title {
    font-family: var(--gh-font-heading, var(--font-serif));
}

.post-feed > .post {
    box-shadow: 0 5px 10px rgba(0,0,0,.06);
    transition-duration: .2s;
}

.post-feed > .post:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,.06);
}

.post-feed > .post:active {
    box-shadow: 0 5px 5px rgba(0,0,0,.06);
}

@media (max-width: 767px) {
    .post-feed {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .post-feed {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .post-feed {
        grid-template-columns: repeat(3, 1fr);
    }

    .is-head-stacked .post-feed {
        margin-top: 32px;
    }
}

@media (prefers-color-scheme: dark) {
    .post-wrapper {
        background-color: #222;
    }

    .post-tag {
        color: #888;
    }
}
