.related-wrapper {
    padding-top: 48px;
    padding-bottom: 64px;
    margin-top: 96px;
    background-color: var(--light-gray-color);
}


@media (prefers-color-scheme: dark) {
    .related-wrapper {
        background-color: #161616;
    }
}
